.home {
  min-height: 100vh;
}

.lists {
  background: white;
  width: 40%;
  color: #000000;
  margin-top: 100px;
}

.person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
  background-color: lightcyan;
}

.person img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

.home .clear {
  width: -webkit-fill-available;
  border-color: transparent;
  display: block;
  background: #0a0a0a;
  color: white;
  padding: 0.5rem 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
}
.remove {
  border-color: transparent;
  padding: 1px 15px;
  border-radius: 15px;
  cursor: pointer;
  border-width: 0;
}




@media screen and (max-width: 767.9px) {
  .lists {
    width: 100%;
  }
}
